*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1{
 position: absolute;

 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}   
#title1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    line-height: 110px;
    white-space: nowrap;
    border-top: 5px solid black;
    t
}
#title1::before {
    content: 'Is Amazing By FanoD3C / Estefano Delgado'; /* content; permite agregar texto de contenido */
    position: absolute;
    bottom: -70px;
    font-size: 40px;
    /* para que work el align, se debe agregar width:100% */
    text-align: center;
    width: 100%;
}
