/* front responsive */

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*===== Colores =====*/
  --first-color: #1b28e9;
  --first-color-alt: rgb(0, 107, 134);
  --second-color: #62ef10;
  --third-color: #1fbe10e3;
  --dark-color: #0c0e14;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;

  /* FONDOS DE COLORES / PARA PARRAFOS IMAGENES CONTENEDORES ETC */
  --first-fond-color: #1b29e9e8;
  --second-fond-color: #202020a4;
  /*===== z index =====*/
  --z-fixed: 100;
  --z-tooltip: 10;

  /* Margenes Bottom */
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /* COLORS HSL */
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 3%, 6%);
  --black-color-alt: hsl (var(--hue-color), 3%, 10%);
  --title-color-1: hsl(var(--hue-color), 6%, 85%);
  --text-color-1: hsl(var(--hue-color), 6%, 75%);
  --text-color-light-1: hsl (var(--hue-color), 6% ,75%);
  --body-color: hsl(var(--hue-color), 3%, 6%);
  --container-layout-color-1: hsl(var(--hue-color), 6%, 10%);
  --text-gradient-1: linear-gradient(hsl(var(--hue-color), 6%, 24%), hsl(var(--hue-color), 6%, 10%));
  --scroll-thumb-color: hsl(var(--hue-color), 3%, 10%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 3%, 23%);
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* TIPOGRAFIA FONT */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.3rem;
  --big-font-size: 2.3rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.03rem;
  --normal-font-size: .997rem;
  --small-font-size: .833;
  --smaller-font-size: .333;
  --small-font-size: .197

  /* font weight */
  --font-medium: 500;
  --font-semi-bold:600;

} 


/* TIPOGRAFIA RESPONSIVE */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.3rem;
    --big-font-size: 3.3rem;
    --h2-font-size: 3.3rem;
    --h3-font-size: 2.03rem;
    --normal-font-size: 1.3rem;
    --small-font-size: .933;
    --smaller-font-size: .533;
    --small-font-size: .497;

  }
}



@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE / REUSABLE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/* Esqueleto */
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: white;
  background-color: #070703;
  opacity: 1;
  /* cubos */
  background-image:  linear-gradient(30deg, var(--first-color) 12%, transparent 12.5%, transparent 87%, var(--first-color) 87.5%, var(--first-color)), linear-gradient(150deg, var(--first-color) 12%, transparent 12.5%, transparent 87%, var(--first-color) 87.5%, var(--first-color)), linear-gradient(30deg, var(--first-color) 12%, transparent 12.5%, transparent 87%, var(--first-color) 87.5%, var(--first-color)), linear-gradient(150deg, var(--first-color) 12%, transparent 12.5%, transparent 87%, var(--first-color) 87.5%, var(--first-color)), linear-gradient(60deg, hsla(198, 93%, 45%, 0.795) 25%, transparent 25.5%, transparent 75%, hsla(198, 93%, 45%, 0.795) 75%, #089ede77), linear-gradient(60deg, hsla(198, 93%, 45%, 0.795) 25%, transparent 25.5%, transparent 75%, #089ede77 75%, #089ede77);
  background-size: 78px 137px;
  background-position: 0 0, 0 0, 39px 68px, 39px 68px, 0 0, 39px 68px;
}

/* listas generales */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* button reusable */
button, input {
  border: var(--first-color);
  outline: none;
}

button {
  cursor: pointer;
}

/* REUSABLE CLASES */
.containerNav {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section {
  padding: 4rem 0 2rem;
}

/* TITULOS DE LA SECCION */
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: rgb(255, 255, 255);
}
/* FIN TITULOS DE LA SECCION */
.container-layout {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid-layout {
  display: grid;
  
}

/* GRID */
.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


/* Header section */
#header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 4vh;
  background-color: rgba(0, 0, 0, 0.842);
  transition: .3s ease background-color;
}

#header .nav-bar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 20px;
  z-index: 10;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgba(0, 41, 102, 0.932);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
  scrollbar-width: 0 auto;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .4rem;
  text-decoration: none;
  color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 25px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(78, 236, 46, 0.486);
  font-size: 2rem;
  letter-spacing: 100px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: normal;
}

#header .nav-list ul li:hover a {
  color: var(--second-color);
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 5px solid var(--second-color);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px; /* color barra hamburguer */
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header section */

/* CONTENEDOR FOOTER */
footer{
  width: 100%;
  background: #202020ee;
  color: white;   
  
}

.container-footer-all{
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 25px;
}


.container-body{
  display: flex;
  justify-content: space-around;
}

.colum1{
  max-width: 60%;
}

/* .colum1 h1{
  font-size: 22px;
} */

.colum1 p{
  font-size: 1.1rem;
  color: #C7C7C7;
  margin-top: 20px;
}

/* .colum2{
  max-width: 0%; /* es el ancho de la tercera columna */
  
/* } */

/* .colum2 h1{
  font-size: 22px;
} */ 

.row{
  margin-top: 20px;
  display: flex;
}

/* .row img{
  width: 36px;
  height: 36px;
} */

.row a{
  margin: 0 auto;
  color: var(--first-color-alt);
}

.colum3{
  max-width: 40%;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

/* .row2 img{
  width: 36px;
  height: 36px;
} */

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}
/* fin footer */


/* container wsp botton */
.container-boton{  
  position: fixed;
  z-index: 999;
  border-radius: 10%;
  bottom: 20px;
  left: 20px;
  transition: ease 0.3s;
  animation: efecto 2s infinite;
}
.container-boton:hover{
  transition: 0.3s;
}

.boton-wsp{
  width: 40px;
  transition: ease 1s;
}
/* efecto boton wsp */
@keyframes efecto{
  0%{
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100%{
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
} 

/* boton back top top */
#back-to-top-btn {
  /* display: flex; */
  position: fixed;
  bottom: 22px;
  right: 20px;
  /* Tamano del icon  */
  font-size: 26px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #333;
  /* Agregamos una manito arriba del boton */
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 920;
}
/* accion cuando se esta arriba del boton */
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: var(--first-color);
  color: var(--white-color);  
}

/* MEDIA 992PX 
-BACK-TO-TOP
-BOTON-WSP

*/


/* MEDIA 768 PX
-BACKTOTOP
-BOTON-WSP

*/



/* Animations */
/* .btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
  z-index: 920;
} */
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
/* @keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
} */

/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
} */

/* ACTIVE-LINK */
.active-link {
  background-color: var(--text-color-light-1) ;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: var(--text-color-light-1);
} 
/* fin boton back to top */


/* contenido 1 */
.content-1 {
  width: 100%; 
  height: 100%;
  /* ALINEACION DEL TEXTO DE LA CABEZERA*/
  text-align: center;    
  color: black;
  
  /*opacity: 10%; */ /* aqui tengo un problema que arreglar, quiero hacer el fondo mas opaco*/
}

/* formato de propiedades de la imagen animada de la cabezera */
.content-1-fond{
  /*background: url(/assets/img/gif/buygoku.gif);  gif animado */
  background-size: cover; /*aqui decidimos cubrir con el gif*/
  background-position: center; /* posicionamos el gif en el centro del conten1*/
  border-radius: 1%;
}

/* formato de propiedades del logo de la cabecera */
.content-1-logo {
  width: 220px;    /* tama;o del logo / anchura */
  height: 220px;   /* tama;o del logo / altura */
  border-radius: 50%;  /* borde del logo */
  overflow: hidden;    /* manera para hacer eficaz el border y este pueda visualizarse */
  border: 4px solid #3191ff;  /* anchura del borde del logo y su respectivo color */
  margin: auto;   /* posicionamiento del logo de la cabecera */
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: indigo;
}

/* adaptando la imagen al formato del content-logo */
.content-1-logo img{
  width: 100%;
  height: 100%;
}
/* formato de propiedades del subtitulo */
.content-1 h2 {
 padding-top: 3%;
} 
/* formato de propiedades del parrafo */

/* formato de propiedades del contador de js */
.content-1 h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* parrafo content-1 */
.content-parrafo {
  background-color: var(--second-fond-color);
  margin: auto;
  color: white;
  font-size: 1rem;
  padding: 0% 3% 3% 3%;
}
/* formato del segundo contenedor */
.content-2 {
  padding: 2%;
}

.content-2 .container__desc p {
  font-size: 1.4rem;  
}
/* formato content-3 */
.content-3 {
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 3%;
  /* border: solid #3191ff; */
  border-radius: 20px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/background-8.webp);
  background-size: cover;
  max-width: 100%;
  filter:brightness(0.4);
  /* filtro de luminaria */
  filter: drop-shadow(0 0px 15px var(--first-color));
}
/* fondo background 8 */
.content-3::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
  border-radius: 20px;
}
.content-3 p {
  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;color: blanchedalmond;
}

.content-3 h2, b {
  color: var(--second-color);
}

/* SECTION PROJECTS 3D */
.container-3D {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#projects .projects {
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
}

#projects .projects-header h1 {
  margin-bottom: 3px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 99%;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 25px;
  
}

#projects .project-info {
  padding: 30px;
  flex-basis: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  
}

#projects .project-info span {
  color: limegreen;
  align-items: center;
  text-align: center;
}

#projects .project-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 200;
  padding: 20px;
}

#projects .project-info p {
  color: white;
}
/* model viewer */
model-viewer {
  width: 100%;
  height: 350px;
  background-color: hsla(118, 67%, 36%, 0.706);
  --poster-color: #ffffff00;
  z-index: 1;
  overflow: hidden;
  border-radius: 0px 0px 25px 25px;
}
/* fin model viewer */

/* PDF CURRICULUM VERSION 1 / IFRAME */
/* .curriculum-pdf-fano {
  width: 100%;
  height: 550px;
} */

/*  FIN PDF VERSION / IFRAME */

/* PDF VERSION 2 */
/* .pdfview { */
  /* Centrado */
  /* margin: auto;
  display: block; */
  /* Tamaño */
  /* width: 100%;
  height: 100vh; */
  /* Mejorar aspecto */
  /* border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
/* FIN PDF VERSION 2 */

/* slider tech */

/* fin slider */

/* Fin Banner V1 */

/* BANNER V2 + CAJA GENERAL SOMBRAS*/
.box-shadow-content {
  box-shadow:  28px 28px 23px var(--second-color),
  -28px -28px 23px var(--dark-color);
  border-radius: 15px 50px 20px; 
}
/* FIN GENERAL SOMBRAS */

/* Banner V2 */
.banner-container-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fanod3c-perfil iframe{
  border-radius: 15px 30px;
}

.banner-container-1 .banner-1{
  background:linear-gradient(145deg, var(--dark-color-alt) 29%, var(--dark-color-alt) 32.1%, var(--second-color) 61%, var(--dark-color-alt) 68.1%);
  margin: 5%;
  padding: 2% 5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
}

.banner-container-1 .banner-1 .Fanod3c-perfil{
  flex:1 1 150px;
  padding: 15px;
  text-align: center;
}

.banner-container-1 .banner-1 .Fanod3c-perfil h2{
  margin-top: 1%;
}

.banner-container-1 .banner-1 .Fanod3c-perfil img{
  width:80%;
  border: solid 5px;
  border-radius: 25%;
}

.banner-container-1 .banner-1 .content-banner{
  flex:1 1 250px;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.banner-container-1 .banner-1 .content-banner span{
  color:#eee;
  font-size: 25px;
}

.banner-container-1 .banner-1 .content-banner h3{
  color:#fff;
  font-size: 40px;
}

.banner-container-1 .banner-1 .content-banner p{
  color:#eee;
  font-size: 20px;
  padding:10px 0;
}

.banner-container-1 .banner-1 .content-banner .banner-btn{
  display: block;
  height:40px;
  width:150px;
  line-height: 40px;
  background: #fff;
  color: var(--dark-color-alt);
  margin: 2px auto;
  text-decoration: none;
  border-radius: 15px 35px;
}

.banner-container-1 .banner-1 .img-banner{
  position: relative;
  bottom: -33px;
  padding:10px;
  flex:1 1 250px;
}

.banner-container-1 .banner-1 .img-banner img{
  width: 100%;
  
}

/* CRONOLOGIA*/
.container {
  /* Used to position the left vertical line */
  position: relative;
  margin: 12px;
}

#more1, 
#more2, 
#more3, 
#more4, 
#more5, 
#more6, 
#more7,
#more8 {
  display: none;
}

.read-more-btn-class {
  padding: 15px 30px;
  background-color: var(--first-color);
  color: var(--second-color);
  border: 6px solid;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5%;
  border-radius: 15px 35px;
}

.container__line {
  /* Border */
  border: 2PX solid;

  /* Positioned at the left */
  left: 15px;
  position: absolute;
  top: 0px;

  /* Take full height */
  height: 100%;
}

.container__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container__item {
  margin-bottom: 8px;
}

.container__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.container__circle {
  /* Rounded border */
  background-color: var(--second-color);
  border-radius: 9999px;
  margin: 25px;
  text-align: center;
  /* Size */
  height: 55px;
  width: 55px;
}

.container__circle p {
  color: var(--dark-color-alt);
}

.container__title {
  /* Take available width */
  flex: 1;
}

.container__desc {
  /* Make it align with the title */
  margin-left: 48px;
}
/* FIN cronologia */

.content-2 .container__desc p {
  font-size: 1.15rem;
}
/* FIN CONTENEDOR FOOTER */


/* MEDIA PARA MENU NAV */
/*===== NAV =====*/
/* el max width se deja en 768 para aprecer en la pantella superior a ella adaptarse */

/* KEYFRAMES */

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes fadeIn {
   0% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }
}
/* 
@keyframes slide {
  from {
    transform: translateX(0);
  }     
  to {
    transform: translateX(-100%);  
  }
} */

/* FIN KEYFRAMES/ */


/* MEDIA QUERYS 2.0 */

/* MEDIA SMARTPHONE */
@media screen and (max-width: 768px) { /* SINO SE SUPERA LOS 768PX ADAPTAR PARA PANTALLA DE SMARTPHONE*/
  #header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  
  #header .header {
    background-color: var(--dark-color);
    transition: .3s ease background-color;
    height: 60px;
  }

  .brand h1 {
    color: #fff;
    margin-left: 10px;
  }
  
  #header .nav-bar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 5px;
    z-index: 10;
    color: lightcoral;
  }
  
  #header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(0, 41, 102, 0.932);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
    scrollbar-width: 0 auto;
  }
  
  #header .nav-list ul.active {
    left: 0%;
  }
  
  #header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .4rem;
    text-decoration: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 25px;
    display: block;
  }
  
  #header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(78, 236, 46, 0.486);
    font-size: 2rem;
    letter-spacing: 100px;
    z-index: -1;
    transition: .3s ease letter-spacing;
  }
  
  #header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: normal;
  }
  
  #header .nav-list ul li:hover a {
    color: rgb(0, 0, 0);
  }
  
  #header .hamburger {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 5px solid var(--second-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
  }
  
  #header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    animation: hamburger_puls 1s ease infinite;
  }
  
  #header .hamburger .bar {
    height: 2px; /* hamburguer line ancho */
    width: 25px;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: -1;
  }
  
  #header .hamburger .bar::after,
  #header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(115, 255, 0);
    transition: .3s ease;
    transition-property: top, bottom;
  }
  
  #header .hamburger .bar::after {
    top: 8px;
  }
  
  #header .hamburger .bar::before {
    bottom: 8px;
  }
  
  #header .hamburger.active .bar::before {
    bottom: 0;
  }
  
  #header .hamburger.active .bar::after {
    top: 0;
  }
  /* End Header section */
  .content-1 p{
    width: 100%;
    padding: 3% 3% 10%;
  }

  .banner-container-1 .banner-1 .img-banner{
    display: none;
  }

  #back-to-top-btn { 
    font-size: 18px; 
    width: 32px; 
    height: 32px; 
    bottom: 30px; 
    right: 15px; 
  }

  .boton-wsp { 
    font-size: 18px;
    width: 32px; 
    height: 32px; 
    bottom: 6px; 
    right: 4px; 
  }

  .container-body{
    flex-wrap: wrap;
}

.colum1{
    max-width: 100%;
}

.colum1 p{
  font-size: 1rem;
}

.colum2{
  max-width: 100%;
}
.colum3{
    margin-top: 40px;
}

.row label {
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 2%;
}
  /*  */
  .img-slider .navigation-slide {
    bottom: 20px;
  }

  .section-title{
    font-size: 3rem;
  }
  
}

/* MEDIA PANTALLAS TABLETS */
@media only screen and (min-width: 768px) {
  #header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
  }
  
  #header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    animation: hamburger_puls 1s ease infinite;
  }
  
  #header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: -1;
  }
  #header .hamburger {
    border: 5px solid var(--second-color);
  }

  #header .hamburger .bar::after,
  #header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(115, 255, 0);
    transition: .3s ease;
    transition-property: top, bottom;

}


/* MEDIA PANTALLAS GRANDES */
@media only screen and (min-width: 1460px) { 
  /* header */
    #header .hamburger {
      display: none;
      
  }
  
  #header .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      justify-content: center;
      background-color: transparent;
      background-attachment: fixed;
  }
  #header .nav-list ul li {
      display: inline-block;
  }
  #header .nav-list ul li a {
      font-size: 3.8rem;
  }
  #header .nav-list ul a:after {
      display: none;
  }
  /* End header */

  .footer__container {
    padding-top: 3rem;
  }

  #back-to-top-btn { 
    font-size: 22px; 
    width: 40px; 
    height: 40px; 
    bottom: 23px; 
    right: 20px; }

  .boton-wsp { 
    font-size: 22px; 
    width: 40px; 
    height: 40px; 
    bottom: 15px; 
    right: 15px; 
  }
  
  
}


/* @media only screen and (min-width: 1460px) { */
  /* header */
  /* #header .hamburger {
      display: none;
  }
  #header .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      background-color: transparent;
      background-attachment: fixed;
  }
  #header .nav-list ul li {
      display: inline-block;
  }
  #header .nav-list ul li a {
      font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
      display: none;
  } */
  /* End header */
  /* #services .service-bottom .service-item {
      flex-basis: 22%;
      margin: 1.5%;
  }
  #services .service-bottom .service-item2 {
      flex-basis: 22%;
      margin: 1.5%;
  }
  #services .service-bottom .service-item3 {
      flex-basis: 22%;
      margin: 1.5%;
  }
} */
/* FIN MEDIA QUERYS 2.0 */